includes:
	- vendor/nunomaduro/larastan/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 7
	reportMaybesInPropertyPhpDocTypes: false
	checkMissingIterableValueType: false
	paths:
		- app
	ignoreErrors:
	    - '#Dynamic call to static method (Illuminate\\Database\\Query\\Builder|Illuminate\\Database\\Eloquent\\(Builder|Relations\\.*)|App\\Database\\NodeBuilder)(<.*>)?::\w+\(#'
